@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - Nutrient Diary</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- ======= Header ======= -->
    <main id="main">
        <section id="nutrient-details" class="nutrient-details">
            <div class="container">
                <div class="row gy-4 pt-5">
                    <div class="col-lg-4">
                        <div class="nutrient-details-slider swiper-container">
                            <div id="my_camera"></div>
                            <button type="button" class="btn btn-success mt-1 text-right" onClick="take_snapshot()" value="Take Picture">Take Picture</button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div id="results"></div>
                        <form action="" method="post" class="form-inline text-center hide">
                            <input type="hidden" asp-for="Base64Image" value=""/>
                            <button type="submit" class="btn btn-success mt-1 text-right" id="submitImage">Submit</button>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="nutrient-info">
                            <h3>Nutrient information</h3>
                            <ul>
                                <li><strong>Category</strong>: FRUIT</li>
                                <li><strong>Product</strong>: STRAWBERRY</li>
                                <li><strong>Date</strong>: 01 March, 2020</li>
                                <li><strong>More Information</strong>: <a href="#">https://en.wikipedia.org/wiki/Nutrient</a></li>
                            </ul>
                        </div>
                        <div class="nutrient-description" style="font-size: 13px;">
                            <p class="font-weight-bold font-italic text-capitalize">
                                Are you in the dilemma, that stuff you eating is it nutritious? Does the food you eat suffice your daily nutrition requirement? Nutrient Diary is here for you:
                           </p>
                            <div class="alert alert-success">
                                Take or upload pictures of food you willing to eat.
                            </div>

                            <div class="alert alert-info">
                                Record the portion sizes you willing to eat.
                            </div>

                            <div class="alert alert-warning">
                                Get the nutrient info of the food based on the portion.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->

</body>
</html>
